---
import { Picture } from '@astrojs/image/components';

import HeroImage from '../assets/img/hero.png';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Astro Image</title>
  </head>
  <body>
    <Picture src={HeroImage} widths={[150]} />
  </body>
</html>
